.login-register-content {
	min-height: 500px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.register-login-form {
    perspective: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate3d(-50%,-50%,0);


    .headline {
        color: #416171;
        font-size: 43px;
        margin: 20px 0;
    }
    .sub-headline {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 16px;
    }

    form {
        margin: 35px 0;
    }

    #inputs {
      height: 127px;
      transition: height .5s ease-in-out;
      div {
        height: 41px;
        transform-origin: 0 0;
        transition: transform .5s ease-in-out;
      }
      > div > div > div {
        transform: rotateX(0deg);
        transform-style: preserve-3d;
      }
      > div > div > div input:nth-child(2),
      > div > div > div > div input:nth-child(2) {
        transform: translateZ(-1px) rotateX(180deg);
      }
      > div > div > div > div {
        transform: translateY(-41px) rotateX(0deg);
        transform-style: preserve-3d;
      }
    }

    input {
      background: #FFFEFC;
      border: 0;
      box-sizing: border-box;
      display: block;
      font-family: Raleway, sans-serif;
      font-weight: 600;
      font-size: 12px;
      margin: 0 auto;
      padding: 13px;
      text-transform: uppercase;
      transition: all .2s ease-in-out;
      width: 300px;
      transform-origin: 0 0;
      -webkit-font-smoothing: antialiased;
      
      &:hover {
        background: #f3f3f3;
      }
      &:focus {
        background: #EAEAEA;
      }
      
      &[type=submit] {
        background: #43434C;
        color: #FFFEFC;
        cursor: pointer;
      }
      &[type=radio] { display: none; }
    }

    input:checked {
      &[value=reset] {
        ~ #inputs { height: 84px; }
        ~ #labels { margin-top: -10px; }
        ~ #inputs div > div > div { transform: rotateX(180deg); }
        ~ #inputs div > div > div > div { transform: translateY(-41px) rotateX(180deg); }
        ~ #labels label[for=reset],
        ~ #labels label[for=register],
        ~ #labels label[for=login]:first-child { transition: opacity .5s; opacity: 0; }
      }
      &[value=register] {
        ~ #inputs { height: 170px; }
        ~ #labels { margin-top: 30px; }
        ~ #labels label[for=reset],
        ~ #labels label[for=register],
        ~ #labels label[for=login]:nth-child(3) { transition: opacity .5s; opacity: 0; }
      }
      &[value=login] {
        ~ #labels { margin-top: 11px; }
        ~ #inputs div > div > div > div { transform: translateY(-41px) rotateX(180deg); }
        ~ #labels label[for=login] { transition: opacity .5s; opacity: 0; }
      }
    }


    #labels {
      transition: margin .5s ease-in-out;
    }
    label {
      display: block;
      font-size: 14px;
      color: #43434C;
      margin-bottom: 5px;
      font-weight: 600;
      height: 16px;
      transition: opacity 1s .3s;
      overflow: hidden;
      span {
        cursor: pointer;
        color: #349E97;
      }
    }

    #hint {
      position: absolute;
      bottom: 20px;
      opacity: .2;
      left: 50%;
      margin: 0 -62px;
      font-weight: 600;
    }
}



.advert {
    height: 300px;
    width: calc(100% - 40px);
    border: 5px solid #f4f4f4;
    border-radius: 5px;

    a {
      display: inline-block;
      height: 300px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
    }
}





.wrapper {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% - 30px);
    max-width: 800px;
    margin: 35px auto;
}

.add-hotel--headline {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.add-hotel form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.form-input {
    width: 50%;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      width: calc(100% - 30px);
    }
}

label {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.form-input input {
    width: calc(100% - 55px);
    border: 1px solid #dddddd;
    border-radius: 5px;
    height: 35px;
    padding: 0 15px;
    background-color: #dddddd;
}

.form-input select {
    width: calc(100% - 25px);
    border: 1px solid #dddddd;
    height: 35px;
    border-radius: 5px;
    padding: 0 15px;
}

.form-input textarea {
    width: calc(100% - 30px);
    border-radius: 5px;
    border: 1px solid #dddddd;
    background-color: #dddddd;

    @media screen and (max-width: 768px) {
      width: calc(100% - 30px);
    }
}

.form-input #hotel_thumbnail {
  width: 250px !important;
}

.hotel-owner {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

hr {
    width: 100%;
}

.hotel-owner--headline {
    width: 100%;
    margin: 35px 0;
}

.contact {
    max-width: 800px;
    margin: 35px auto;

    &--headline,
    &--subheadline,
    &-form-headline {
      text-align: center;
    }

    &--headline,
    &-form-headline {
      color: #0b677d;
    }

    &--cols {
      display: flex;
      flex-flow: row wrap;
    }

    .address-social {
      padding: 15px 0;
    }

    &--col1,
    &--col2 {
      width: 50%;

      @media screen and (max-width: 768px) {
        width: calc(100% - 30px);
        margin: 5px auto;
      }
    }

    .social-col a {
      margin-bottom: 12px;
      text-decoration: none;
      display: block;
      color: #0b677d;
      font-weight: 400;
    }

    .form-input {
      width: 100%;
    }

    .contact-submit {
      width: calc(100% - 25px);
      display: flex;
      justify-content: flex-end;

      @media screen and (max-width: 768px) {
        width: calc(100% - 75px);
        margin: auto;
      }
    }
}


.contact-page-map #map {
  width: 100%;
  height: 350px;
  padding: 0;
  margin: 0;
}



