

	<div class="banner">
		<div class="banner-wrap">
			<h1>About Us</h1>
			<h2>Hotel bookings, recommendations &amp; reviews in The Gambia</h2>
		</div>
	</div>

	<div class="intro">
		<h1>Smiling Coast Hotels</h1>
		<p>We are an online travel agency specialising in hotel bookings, recommendations and reviews within The Gambia. We help customers book hotel rooms online, provide comprehensive help and support to our clients and make the hotel booking process smooth and easy.</p>		
	</div> 

	<div class="content">
		<div class="about-slider">
			<ul class="slideshow js-flickity" data-flickity='{ "pageDots": false, "contain": true, "autoPlay": true, "pauseAutoPlayOnHover": true }'>
				<li class="slide" style="background-image: url(../assets/smile-gambia.jpg);"></li>
				<li class="slide" style="background-image: url(../assets/hotel2.jpg);"></li>
				<li class="slide" style="background-image: url(../assets/hotel3.jpg);"></li>
				<li class="slide" style="background-image: url(../assets/hotel4.jpg);"></li>
			</ul>
		</div>

		<div>
			<h2>Welcome to The Gambia</h2>
			<p>The Gambia may be the smallest country on the continent, but its captivating array of attractions belies its tiny size. Surrounded by Senegal, The Gambia has a mere 80km of coastline, but what a magnificent stretch it encompasses: golden beaches backed by swaying palms and sprinkled with scenic lagoons, sleepy fishing villages and biologically rich coastal reserves.</p>

			<p>Of course there’s much more to The Gambia than just sun and surf. Its namesake river is teeming with wildlife, including nearly 600 bird species, plus manatees, hippos, crocodiles and troops of wily colobus monkeys. Boat trips and overnights at forest ecolodges reveal some of the great wonders of the hinterland, from a chimpanzee island reserve to the ruins of a 17th-century British fortress. The greatest treasures, though, are the warm-hearted Gambian people, who more than live up to their homeland's moniker of the ‘the smiling coast of Africa’.</p>
		</div>
	</div>

	<div class="content">
		<div class="content-left">
			<div class="about-image"></div>
		</div>

		<div class="content-right">
			<h2>Tourism in Gambia</h2>
			<p>The Gambia, a tiny, tourism-reliant country in West Africa, typically averages about 4,000 visitors a week during its peak month of January.</p>
			<p>The tourism sector is one of the country's main revenue generators, contributing 20 percent of its budget. It also employs thousands of people.</p>
		</div>		
	</div>

	<div class="recognized-by">
		<div class="recognized-by-group">
			<div class="recognized-by-text">
				Smiling Coast Hotels has been recognized by
			</div>
			<div class="recognized-by-logos">
				<img src="../assets/MOTC-Logo.jpg" alt="">
				<img src="../assets/gambiacoatofarm.jpg" alt="">
				<img src="../assets/gtb.jpg" alt="">
				<img src="../assets/roots.png" alt="">
			</div>
		</div>
	</div>
