
	<div class="booking">
		
		<div class="booking-page">Secure Checkout - it only takes 2 minutes</div>

		<div class="booking-sidebar">
			<div class="booking-details">
				<div class="booking-sidebar--headline">Your booking details</div>
				<div class="booking-details--checkin">
					<span>Check-in:</span>
					<p>Wednesday, December 13, 2017</p>
				</div>

				<div class="booking-details--checkout">
					<span>Check-out:</span>
					<p>Wednesday, December 17, 2017</p>
				</div>

				<div class="booking-details--duration">
					<span>Total length of stay:</span>
					<p>4 nights</p>
				</div>

				<hr>

				<div class="booking-details--selected-room">
					<span>You selected::</span>
					<p>Standard Double Room</p>
				</div>
			</div>

			<div class="booking--hotel-facilities">
				<div class="booking-sidebar--headline">Your booking includes</div>
				<div class="booking-facilities">
					<p>Free WiFi</p>
					<p>TV</p>
					<p>Security</p>
				</div>
			</div>

			<div class="booking--price-summary">
				<div class="booking-sidebar--headline">Your price summary</div>
				<div class="booking-room-price">
					<div class="booking-room">Room</div>
					<div class="booking-price">$190.22</div>
				</div>
			</div>
		</div>

		<div class="booking-main">
			<div class="sch-selected-hotel">
				<div class="sch-hotel-thumbnail" style="background-image: url(../../assets/hotel1.jpg"></div>
				<div class="sch-hotel-details">
					<div class="sch-hotel-headline">Senegambia Beach Hotel</div>
					<div class="sch-about-hotel">
						<span class="sch-average-rating">
							<ul class="rate">
								<li class="icon star"><i class="fa fa-star"></i></li>
								<li class="icon star"><i class="fa fa-star"></i></li>
								<li class="icon star"><i class="fa fa-star"></i></li>
								<li class="icon star"><i class="fa fa-star"></i></li>
								<li class="icon star"><i class="fa fa-star-half-o"></i></li>
							</ul>
						</span>
						<span><i class="fa fa-wifi" aria-hidden="true"></i> Free Wifi</span>
						<span><i class="fa fa-television" aria-hidden="true"></i> TV</span>
						<span><i class="fa fa-shield" aria-hidden="true"></i> Security</span>
					</div>
					<a href="tel:2204380533" class="sch-phone"><i class="fa fa-phone" aria-hidden="true"></i> +220 438 0533</a>
					<a href="#" class="sch-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Kololi, Serrekunda, Gambia</a>
				</div>
			</div>

			<div class="traveller-info">
				<div class="traveller-info--headline">Enter Your Details</div>

				<form action="#" method="POST">
					<div class="book-row">
						<div class="book-row--input book-row-title">
							<label for="title">Title</label>
							<select name="book-title" id="book-title">
		                        <option value="mister">Mr.</option>
		                        <option value="Mrs">Mrs.</option>
		                        <option value="miss">Miss</option>
		                    </select>
						</div>

						<div class="book-row--input book-row-fname">
		                    <label for="first_name">First Name: </label>
		                    <input type="text" name="first_name" >
		                </div>

		                <div class="book-row--input book-row-lname">
		                    <label for="last_name">Last Name: </label>
		                    <input type="text" name="last_name" >
		                </div>
					</div>

					<div class="book-row">
						<div class="book-row--input book-row-country">
							<label for="country">Country</label>
							<select name="book-country" id="book-country">
		                        <option value="gambia">Gambia</option>
		                        <option value="senegal">Senegal</option>
		                        <option value="sweden">Sweden</option>
		                        <option value="finland">Finland</option>
		                        <option value="united_kindom">United Kingdom</option>
		                    </select>
						</div>

						<div class="book-row--input book-row-phone">
		                    <label for="phone_number">Phone Number </label>
		                    <input type="text" name="phone_number" >
		                </div>
					</div>

					<div class="book-row">
						<div class="book-row--input book-row-email">
		                    <label for="email_address">E-mail Address </label>
		                    <input type="email" name="email_address" >
		                </div>

						<div class="book-row--input book-row-c-email">
		                    <label for="confirm_email_address">Confirm E-mail Address </label>
		                    <input type="email" name="confirm_email_address" >
		                </div>
					</div>

					<div class="book-row book-row-checkbox">
						<input name="booking_for_other" value="booking_for_other" type="checkbox"> <label>I'm making this reservation on behalf of someone else.</label>
					</div>

					<div class="book-row book-row-add-info">
	                    <label for="additional_info">Additional Info </label>
	                    <textarea name="additional_info" id="additional_info" cols="30" rows="10"></textarea>
	                </div>

	                <button type="submit">Pay For Booking</button>
				</form>

			</div>
		</div>
	</div>