<div class="banner">
		<div class="banner-wrap">
			<h1>FAQ</h1>
			<h2>Hotel bookings, recommendations &amp; reviews in The Gambia</h2>
		</div>
	</div>

	<div class="content faq-content">
		<div class="faq">

			<div id="accordion">
				<h3>How do I reserve my room?</h3>
				<div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate quam eget imperdiet pharetra. Aenean et tempor urna, et accumsan quam. Nulla fringilla arcu non ipsum elementum, non hendrerit quam ultricies. Etiam eleifend leo nec tristique viverra. Ut rhoncus sagittis dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pulvinar laoreet libero, vel aliquet urna imperdiet sed. Integer in ex varius, egestas urna non, ultricies ante.
					</p>
				</div>

				<h3>Is it safe to use my credit card?</h3>
				<div>
					<p>
						Vestibulum vestibulum ipsum nisi, nec dapibus dolor egestas in. Morbi mattis nulla rutrum sem volutpat, facilisis cursus est congue. Vestibulum erat risus, varius quis nunc vitae, gravida semper odio. Nunc ac condimentum augue. Curabitur at pretium sem. Suspendisse fringilla lorem lectus, non dignissim sapien egestas in. Ut at turpis quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque vestibulum, nisi in tincidunt porta, eros ipsum gravida leo, quis facilisis felis quam sed augue. Curabitur eget ipsum sed velit auctor placerat. Nam ligula diam, dapibus faucibus enim vitae, volutpat tincidunt ipsum. Duis vitae porttitor justo.
					</p>
				</div>

				<h3>What happens when I make a reservation?</h3>
				<div>
					<p>
						Aliquam suscipit nunc quis ex lacinia vulputate. Praesent sed varius justo, sed laoreet tellus. Aliquam sed justo a felis ultricies dignissim sit amet ac libero. Mauris ut fringilla tellus, et auctor ligula. Sed ac posuere lectus, ac hendrerit orci. Donec tempor venenatis mauris non tincidunt. Quisque a condimentum tortor. Integer quis urna vitae metus consectetur fringilla sit amet vitae ante. Nulla sem lacus, laoreet ut ornare vestibulum, scelerisque eu nunc. Nunc ut varius enim. Pellentesque sagittis sollicitudin nisl. Proin rutrum, erat eu volutpat egestas, felis enim dignissim justo, vitae fermentum justo urna vitae lorem. Aliquam orci elit, elementum eu ultricies id, tristique a ligula. Curabitur ac condimentum ipsum, ut consequat neque.
					</p>
				</div>

				<h3>How do I sign up? Does it cost anything?</h3>
				<div>
					<p>
						Aliquam suscipit nunc quis ex lacinia vulputate. Praesent sed varius justo, sed laoreet tellus. Aliquam sed justo a felis ultricies dignissim sit amet ac libero. Mauris ut fringilla tellus, et auctor ligula. Sed ac posuere lectus, ac hendrerit orci. Donec tempor venenatis mauris non tincidunt. Quisque a condimentum tortor. Integer quis urna vitae metus consectetur fringilla sit amet vitae ante. Nulla sem lacus, laoreet ut ornare vestibulum, scelerisque eu nunc. Nunc ut varius enim. Pellentesque sagittis sollicitudin nisl. Proin rutrum, erat eu volutpat egestas, felis enim dignissim justo, vitae fermentum justo urna vitae lorem. Aliquam orci elit, elementum eu ultricies id, tristique a ligula. Curabitur ac condimentum ipsum, ut consequat neque.
					</p>

					<p>
						Ut in odio nunc. Fusce ut velit bibendum est efficitur congue in at augue. Mauris molestie efficitur vulputate. Quisque orci arcu, lobortis sed lorem nec, malesuada tincidunt libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse auctor sem dapibus mi finibus pharetra. Praesent semper nisl mauris, elementum varius lectus suscipit quis. Praesent sagittis tempus eros a ultrices. Fusce porttitor porttitor pulvinar. Pellentesque congue ex ut nunc tincidunt ultrices.
					</p>
				</div>

				<h3>Does Hotels.com send me an invoice when a hotel is booked?</h3>
				<div>
					<p>
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam commodo imperdiet condimentum. Pellentesque ut ultrices nibh. Vestibulum commodo posuere dui, vitae venenatis nisi auctor quis. Vestibulum congue risus tortor, quis ornare orci sollicitudin id. Cras tincidunt fermentum augue, eget luctus mauris egestas accumsan. Aliquam erat volutpat. Praesent suscipit non neque efficitur sodales. Proin ultrices ipsum nec augue pharetra posuere. Nullam egestas mi vitae libero dignissim, at maximus urna feugiat.
					</p>

					<p>
						Vestibulum vestibulum ipsum nisi, nec dapibus dolor egestas in. Morbi mattis nulla rutrum sem volutpat, facilisis cursus est congue. Vestibulum erat risus, varius quis nunc vitae, gravida semper odio. Nunc ac condimentum augue. Curabitur at pretium sem. Suspendisse fringilla lorem lectus, non dignissim sapien egestas in. Ut at turpis quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque vestibulum, nisi in tincidunt porta, eros ipsum gravida leo, quis facilisis felis quam sed augue. Curabitur eget ipsum sed velit auctor placerat. Nam ligula diam, dapibus faucibus enim vitae, volutpat tincidunt ipsum. Duis vitae porttitor justo.
					</p>
				</div>

				<h3>Is the room rate per person or per night?</h3>
				<div>
					<p>
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam commodo imperdiet condimentum. Pellentesque ut ultrices nibh. Vestibulum commodo posuere dui, vitae venenatis nisi auctor quis. Vestibulum congue risus tortor, quis ornare orci sollicitudin id. Cras tincidunt fermentum augue, eget luctus mauris egestas accumsan. Aliquam erat volutpat. Praesent suscipit non neque efficitur sodales. Proin ultrices ipsum nec augue pharetra posuere. Nullam egestas mi vitae libero dignissim, at maximus urna feugiat.
					</p>
				</div>

				<h3>How do I cancel a reservation?</h3>
				<div>
					<p>
						Vestibulum vestibulum ipsum nisi, nec dapibus dolor egestas in. Morbi mattis nulla rutrum sem volutpat, facilisis cursus est congue. Vestibulum erat risus, varius quis nunc vitae, gravida semper odio. Nunc ac condimentum augue. Curabitur at pretium sem. Suspendisse fringilla lorem lectus, non dignissim sapien egestas in. Ut at turpis quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque vestibulum, nisi in tincidunt porta, eros ipsum gravida leo, quis facilisis felis quam sed augue. Curabitur eget ipsum sed velit auctor placerat. Nam ligula diam, dapibus faucibus enim vitae, volutpat tincidunt ipsum. Duis vitae porttitor justo.
					</p>
				</div>

				<h3>What is the cancellation policy on my reservation?</h3>
				<div>
					<p>
						Aliquam suscipit nunc quis ex lacinia vulputate. Praesent sed varius justo, sed laoreet tellus. Aliquam sed justo a felis ultricies dignissim sit amet ac libero. Mauris ut fringilla tellus, et auctor ligula. Sed ac posuere lectus, ac hendrerit orci. Donec tempor venenatis mauris non tincidunt. Quisque a condimentum tortor. Integer quis urna vitae metus consectetur fringilla sit amet vitae ante. Nulla sem lacus, laoreet ut ornare vestibulum, scelerisque eu nunc. Nunc ut varius enim. Pellentesque sagittis sollicitudin nisl. Proin rutrum, erat eu volutpat egestas, felis enim dignissim justo, vitae fermentum justo urna vitae lorem. Aliquam orci elit, elementum eu ultricies id, tristique a ligula. Curabitur ac condimentum ipsum, ut consequat neque.
					</p>
				</div>
			</div>
		</div>

		<div class="sidebar">
			<div class="most-viewed-hotels">

				<div class="booking-widget">
	                <div class='booking-widget__header'>
	                    <figure>
	                      <div class="hotel-thumbnail"></div>
	                      <figcaption class='header-caption'>
	                        <h3 id="">Kairaba Beach Hotel</h3>
	                        <span id=""><i class="fa fa-map-marker" aria-hidden="true"></i>PMB 390 – Serrekunda, The Gambia</span>
	                      </figcaption>         
	                    </figure>
	                </div>
	                <form>
	                    <ul class='booking-widget__form'>
	                        <li>
	                            <label for='check-in'>Check in</label>
	                            <div id='check-in' class='form-field'>
	                                <input type="text" value="" placeholder="9 July, 2016">
	                                <div class='datepicker'><i class="fa fa-calendar" aria-hidden="true"></i></div>
	                            </div>
	                        </li>
	                        <li>
	                            <label for='check-in'>Check out</label>
	                            <div id='check-out' class='form-field'>
	                                <input type="text" value="" placeholder="19 July, 2016">
	                                <div class='datepicker'><i class="fa fa-calendar" aria-hidden="true"></i></div>
	                            </div>
	                        </li>
	                        <li>
	                          <div class=' form-field form-field__checkbox'>
	                            <input type="checkbox" id='flexibleDates' value="">
	                          </div>
	                            <label for="flexibleDates">Flexible dates</label>
	                        </li>
	                        <li>
	                            <div class='form__dropdown'>
	                                <label for='adultsAmount'>Adults</label>
	                                <div class='form-field'> 
	                                <select id='adultsAmount'>    
	                                        <option value="1">1</option>
	                                        <option value="2">2</option>
	                                        <option value="3">3</option>
	                                        <option value="4">4</option>
	                                        <option value="5">5</option>
	                                        <option value="6">6</option>
	                                </select>
	                                <div class='select-button'><i class="fa fa-caret-down" aria-hidden="true"></i></div>
	                            </div>
	                            </div>
	                            <div class='form__dropdown'>
	                                <label for='childrenAmount'>Children</label>
	                                <br>
	                              <div class='form-field'> 
	                                <select id='childrenAmount'> 
	                                        <option value="0" selected="selected"></option>                        
	                                        <option value="1">1</option>
	                                        <option value="2">2</option>
	                                        <option value="3">3</option>
	                                        <option value="4">4</option>
	                                        <option value="5">5</option>
	                                        <option value="6">6</option>
	                                </select>
	                                <div class='select-button'><i class="fa fa-caret-down" aria-hidden="true"></i></div>
	                                </div>
	                            </div>
	                        </li>
	                        <li>
	                            <input type="submit" id='bookingSubmit' class='form__submit' value='Search rooms'>
	                        </li>
	                    </ul>       
	                </form>
            	</div>
			 
			</div>
		</div>
	</div>