	<div class="hero">
		
		<div class="hotel-search">
			<h1 class="headline">The Smiling Coast Hotels</h1>
			<h2 class="sub-headline">Find and Book Hotels in The Gambia</h2>

			<div class="hotel-search-wrap">
				<form action="#" method="POST">
					<input type="text" class="hotel-search-input" placeholder="Search For a Hotel">
				</form>
			</div>
		</div>
	</div>

	<div class="intro">
		<h1>Hotels in The Gambia</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae turpis dignissim, iaculis ligula eget, laoreet erat. Duis tincidunt, sapien eu vehicula consectetur, nibh ligula maximus magna, venenatis luctus purus orci ac urna. Sed facilisis dapibus diam, malesuada efficitur sapien placerat sed. Nullam ut vestibulum elit. Etiam sit amet lobortis libero. Nulla tincidunt tellus elit, ut aliquam ex efficitur eget. Donec vitae tempus libero. Vestibulum sed auctor nibh.</p>		
	</div> 


	<% if @hotels.count == 0 %>
		<h2>There is no Hotel in the database.</h2>
	<% else %>
		<div class="hotels-row">
			<% @hotels.each do |hotel| %>
				<div class="hotel-card">
					<%= image_tag hotel.hotel_image.url(:hotel_index), class: "hotel-image-thumbnail" %>
					<div class="hotel-desc">
						<%= link_to hotel.name, { :controller => 'hotels', :action => 'show', :id => hotel.id }, :method => :get, class: "hotel-name" %>
						<span><%= truncate(hotel.description, :length => 120)  %></span>
						<ul class="rate">
							<li class="icon star"><i class="fa fa-star"></i></li>
							<li class="icon star"><i class="fa fa-star"></i></li>
							<li class="icon star"><i class="fa fa-star"></i></li>
							<li class="icon star"><i class="fa fa-star"></i></li>
							<li class="icon star"><i class="fa fa-star-half-o"></i></li>
						</ul>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
 
 

	<div class="cta">
		<h1>Are you a Hotel Owner in The Gambia?</h1>
		<p>Have your Hotel Registered with us for <span>FREE</span></p>

		<a href="#" class="btn btn-success">Register Now</a>		
	</div>

	<div class="testimonials-row">
		<div class="testimonial-wrap">
			<div class="testimonial">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae turpis dignissim, iaculis ligula eget, laoreet erat. Duis tincidunt, sapien eu vehicula consectetur, nibh ligula maximus magna,
			</div>

			<div class="author"><span>Buba Manjang</span> - Developer</div>
		</div>
	</div> 

	<div class="recognized-by">
		<div class="recognized-by-group">
			<div class="recognized-by-text">
				Smiling Coast Hotels has been recognized by
			</div>
			<div class="recognized-by-logos">
				<img src="../assets/MOTC-Logo.jpg" alt="">
				<img src="../assets/gambiacoatofarm.jpg" alt="">
				<img src="../assets/gtb.jpg" alt="">
				<img src="../assets/roots.png" alt="">
			</div>
		</div>
	</div>