
	<footer>
		<div class="widgets">
			<div class="widgets-wrap">
				<div class="left-widget">
					
					<span class="widget-title">Address</span>
					<ul>
						<li>20 Kairaba Avenue</li>
						<li>Serrekunda</li>
						<li>The Gambia, West Africa</li>
					</ul>

					<p>Smiling Coast Hotels is Gambia's finest hotel listing platform that enables its users to book for hotels with convenience.</p>
				</div>

				<div class="right-widget">
					<div class="mini-widget">
						<span class="widget-title">Links</span>
						<ul>
							<li class="footer-link"><a href="#">How it works</a></li>
							<li class="footer-link"><a href="#">Why Smiling Coast Hotels</a></li>
							<li class="footer-link"><a href="#">About</a></li>
							<li class="footer-link"><a href="#">Careers</a></li>
						</ul>
					</div>

					<div class="mini-widget">
						<span class="widget-title">Contact Us</span>
						<ul>
							<li>General Inquiries: <a href="#">Contact Us</a></li>
							<li>Phone: <a href="tel:2204380533">+220 438 0533</a></li>
							<p>Are you a hotel owner who needs support?</p>
							<li>Email: <a href="mailto:help@smilingcoasthotels.com">help@smilingcoasthotels.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="copyright">Copyright 2017 Smiling Coast Hotels. Web Design by <a target="_blank" href="http://www.quest.gm">Quest</a></div>
	</footer>
	

	
	<script>
		$('.review-rating').raty({
			readOnly: true,
			score: function() {
			    return $(this).attr('data-score');
			},
			path: '/assets/'
		});
	
		$('#rating-form').raty({
			path: '/assets/',
			scoreName: 'rating'
		});
	
	    var map;
	    function initMap() {
	        map = new google.maps.Map(document.getElementById('map'), {
	          center: {lat: 13.449847, lng: -16.678759},
	          zoom: 8
	        });
	    }
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3Y2YJTL3WSLbS7TineVdz8-rxkkt6b_E&callback=initMap"
	async defer></script>

	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
</body>

</html>