<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Smiling Coast Hotels | Find &amp; Book Hotels in The Gambia</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Smiling Coast Hotels is a platform that enables its users to find and book for hotels in The Gambia.">

	<link rel="icon" type="image/png" href="../assets/logo.png">
	
	<meta property="og:title" content="Smiling Coast Hotels | Find &amp; Book Hotels in The Gambia">
	<meta property="og:site_name" content="Smiling Coast Hotels">
	<meta property="og:url" content="http://www.smilingcoasthotels.com">
	<meta property="og:description" content="Smiling Coast Hotels is a platform that enables its users to find and book for hotels in The Gambia">
	<meta property="og:type" content="website">
</head>

<body>
	<header class="top-header">
		<a href="#" class="logo"><img src="../assets/logo.png"></a>

		<nav>
			<ul class="menu">
				<li class="menu-item"><a href="#">Home</a></li>
				<li class="menu-item"><a href="#">About Us</a></li>
				<li class="menu-item"><a href="#">Contact Us</a></li>
				<li class="menu-item border"><a href="#">Login In</a></li>
				<li class="menu-item border btn-success"><a class="" href="#">Register</a></li>
			</ul>
		</nav>
	</header>

	

