<!DOCTYPE html>
<html lang="en">

<head> 
	<meta charset="UTF-8">

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
	

=======
>>>>>>> 459fce69e048652e14939d1e37cc4d0ca6a6781e
	<link rel="stylesheet" type="text/css" href="../assets/font-awesome.min.css">
	<link rel="icon" type="image/png" href="../assets/logo.png">

	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="../assets/flickity.pkgd.min.js"></script>
	<script src="../assets/scripts.js"></script>
<<<<<<< HEAD
	
	<title>Smiling Coast Hotels | Find &amp; Book Hotels in The Gambia, West Africa</title>
	<meta name="description" content="Smiling Coast Hotels is an online travel agency specialized in hotel bookings, recommendations and reviews within The Gambia." />
	
	<meta itemprop="name" content="Smiling Coast Hotels | Find &amp; Book Hotels in The Gambia, West Africa">
 	<meta itemprop="description" content="Smiling Coast Hotels is an online travel agency specialized in hotel bookings, recommendations and reviews within The Gambia.">
 	<meta itemprop="image" content="../assets/smile-gambia.jpg">
 
 	<!-- Twitter Card data -->
 	<meta name="twitter:card" content="summary_large_image">
 	<meta name="twitter:site" content="@GambiaOur">
 	<meta name="twitter:title" content="Smiling Coast Hotels | Find &amp; Book Hotels in The Gambia, West Africa">
 	<meta name="twitter:description" content="Smiling Coast Hotels is an online travel agency specialized in hotel bookings, recommendations and reviews within The Gambia.">
 	<meta name="twitter:creator" content="@AbubakrManjang">
 	<!-- Twitter summary card with large image must be at least 280x150px -->
 	<meta name="twitter:image:src" content="../assets/smile-gambia.jpg">
 
 	<!-- Open Graph data -->
 	<meta property="og:title" content="Smiling Coast Hotels | Find &amp; Book Hotels in The Gambia, West Africa" />
 	<meta property="og:type" content="article" />
 	<meta property="og:url" content="http://www.smilingcoasthotels.com/" />
 	<meta property="og:image" content="../assets/smile-gambia.jpg" />
 	<meta property="og:description" content="Smiling Coast Hotels is an online travel agency specialized in hotel bookings, recommendations and reviews within The Gambia." />
 	<meta property="og:site_name" content="Smiling Coast Hotels" />
 	<meta property="article:published_time" content="2017-12-17T05:59:00+01:00" />
 	<meta property="article:modified_time" content="2017-12-16T19:08:47+01:00" />
 	<meta property="article:section" content="Article Section" />
 	<meta property="article:tag" content="Article Tag" />
 	<meta property="fb:admins" content="Facebook numberic ID" />
 		
	
=======

	<!-- Place this data between the <head> tags of your website -->
	<title>Smiling Coast Hotels | Find &amp; Book Hotels in The Gambia, West Africa</title>
	<meta name="description" content="Smiling Coast Hotels is an online travel agency specialized in hotel bookings, recommendations and reviews within The Gambia." />

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="Smiling Coast Hotels | Find &amp; Book Hotels in The Gambia, West Africa">
	<meta itemprop="description" content="Smiling Coast Hotels is an online travel agency specialized in hotel bookings, recommendations and reviews within The Gambia.">
	<meta itemprop="image" content="../assets/smile-gambia.jpg">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GambiaOur">
	<meta name="twitter:title" content="Smiling Coast Hotels | Find &amp; Book Hotels in The Gambia, West Africa">
	<meta name="twitter:description" content="Smiling Coast Hotels is an online travel agency specialized in hotel bookings, recommendations and reviews within The Gambia.">
	<meta name="twitter:creator" content="@AbubakrManjang">
	<!-- Twitter summary card with large image must be at least 280x150px -->
	<meta name="twitter:image:src" content="../assets/smile-gambia.jpg">

	<!-- Open Graph data -->
	<meta property="og:title" content="Smiling Coast Hotels | Find &amp; Book Hotels in The Gambia, West Africa" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://www.smilingcoasthotels.com/" />
	<meta property="og:image" content="../assets/smile-gambia.jpg" />
	<meta property="og:description" content="Smiling Coast Hotels is an online travel agency specialized in hotel bookings, recommendations and reviews within The Gambia." />
	<meta property="og:site_name" content="Smiling Coast Hotels" />
	<meta property="article:published_time" content="2017-12-17T05:59:00+01:00" />
	<meta property="article:modified_time" content="2017-12-16T19:08:47+01:00" />
	<meta property="article:section" content="Article Section" />
	<meta property="article:tag" content="Article Tag" />
	<meta property="fb:admins" content="Facebook numberic ID" />
		
>>>>>>> 459fce69e048652e14939d1e37cc4d0ca6a6781e
</head>

<body>
	<section class="navigation">
		<div class="nav-container">
		    <div class="brand">
		      <a href="index.html"><img src="../assets/logo.png"></a>
		    </div>
		    <nav>
			    <div class="nav-mobile"><a id="nav-toggle" href="#"><span></span></a></div>
			    <ul class="nav-list">
			        <li><a href="#">Home</a></li>
			        <li><a href="#">About</a></li>
			        <li><a href="#">FAQ</a></li>
			        <li><a href="#">Contact</a></li>
			        <li><a href="#" class="menu-active">Account</a>
			          <ul class="nav-dropdown">
			            <li><a href="#">Sign In</a></li>
			            <li><a href="#">Create Account</a></li>
			          </ul>
			        </li>
			    </ul>
		    </nav>
		</div>
	</section>

	<div class="hero">
		<div class="hotel-search">
			<h1 class="headline">The Smiling Coast Hotels</h1>
			<h2 class="sub-headline">Find and Book Hotels in The Gambia</h2>

			<div class="hotel-search-wrap">
				<form action="#" method="POST">
					<input type="text" class="hotel-search-input" placeholder="Search For a Hotel">
				</form>
			</div>
		</div>
	</div>

	<div class="intro">
		<h1>Hotels in The Gambia</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae turpis dignissim, iaculis ligula eget, laoreet erat. Duis tincidunt, sapien eu vehicula consectetur, nibh ligula maximus magna, venenatis luctus purus orci ac urna. Sed facilisis dapibus diam, malesuada efficitur sapien placerat sed. Nullam ut vestibulum elit. Etiam sit amet lobortis libero. Nulla tincidunt tellus elit, ut aliquam ex efficitur eget. Donec vitae tempus libero. Vestibulum sed auctor nibh.</p>		
	</div>




	<div class="cta">
		<h1>Are you a Hotel Owner in The Gambia?</h1>
		<p>Have your Hotel Registered with us for <span>FREE</span></p>

		<a href="signup.html" class="btn btn-success">Register Now</a>		
	</div>

	<div class="testimonials-row">
		<div class="testimonial-wrap">
			<div class="testimonial">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae turpis dignissim, iaculis ligula eget, laoreet erat. Duis tincidunt, sapien eu vehicula consectetur, nibh ligula maximus magna,
			</div>

			<div class="author"><span>Buba Manjang</span> - Developer</div>
		</div>
	</div> 

	<div class="recognized-by">
		<div class="recognized-by-group">
			<div class="recognized-by-text">
				Smiling Coast Hotels has been recognized by
			</div>
			<div class="recognized-by-logos">
				<img src="../assets/MOTC-Logo.jpg" alt="">
				<img src="../assets/gambiacoatofarm.jpg" alt="">
				<img src="../assets/gtb.jpg" alt="">
				<img src="../assets/roots.png" alt="">
			</div>
		</div>
	</div> 

	<footer>
		<div class="widgets">
			<div class="widgets-wrap">
				<div class="left-widget">
					
					<span class="widget-title">Address</span>
					<ul>
						<li>20 Kairaba Avenue</li>
						<li>Serrekunda</li>
						<li>The Gambia, West Africa</li>
					</ul>

					<p>Smiling Coast Hotels is Gambia's finest hotel listing platform that enables its users to book for hotels with convenience.</p>
				</div>

				<div class="right-widget">
					<div class="mini-widget">
						<span class="widget-title">Links</span>
						<ul>
							<li class="footer-link"><a href="#">How it works</a></li>
							<li class="footer-link"><a href="#">Why Smiling Coast Hotels</a></li>
							<li class="footer-link"><a href="#">About</a></li>
							<li class="footer-link"><a href="#">Careers</a></li>
						</ul>
					</div>

					<div class="mini-widget">
						<span class="widget-title">Contact Us</span>
						<ul>
							<li>General Inquiries: <a href="#">Contact Us</a></li>
							<li>Phone: <a href="tel:2204380533">+220 438 0533</a></li>
							<p>Are you a hotel owner who needs support?</p>
							<li>Email: <a href="mailto:help@smilingcoasthotels.com">help@smilingcoasthotels.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="copyright">Copyright 2017 Smiling Coast Hotels. Web Design by <a target="_blank" href="http://www.quest.gm">Quest</a></div>
	</footer>
</body>

</html>